 <footer style="background-color: rgb(17, 16, 16); color:aliceblue">
        <div class="container py-4" >
            <div class="row">
                <div class="col-md-3 col-xs-6" >
                    <div class="gioithieu">
                        <h3 class="header text-uppercase font-weight-bold"style="color: #ffc107;">Ứng dụng đã có trên </h3>
                        
                        <img src="/image/app-store.png" alt="" width="150px" style="margin-bottom: 5px;">
                        <img src="/image/play-store.png" alt="" width="150px">
                    </div>
                </div>
                <div class="col-md-3 col-xs-6" >
                    <div class="gioithieu">
                        <img src="/image/logoshopbook-removebg-preview.png" alt="" width="150px" style="margin-left: 50px;">
                        <a href="#" style="color: white; font-size: 15px; text-align: center;">Liên Hệ HHK</a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6" >
                    <div class="gioithieu">
                        <h3 class="header text-uppercase font-weight-bold" style="margin-left: 80px;color: #ffc107;">Thông Tin</h3>
                        <a href="#" style="color: white; font-size: 15px; text-align: center;">Giới Thiệu </a>
                        <a href="#" style="color: white; font-size: 15px; text-align: center;">Blog</a>
                        <a href="#" style="color: white; font-size: 15px; text-align: center;">Điều Khoản </a>
                        <a href="#" style="color: white; font-size: 15px; text-align: center;">Liên Kết</a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6" >
                    <div class="gioithieu">
                        <h3 class="header text-uppercase font-weight-bold" style="margin-left: 90px;color: #ffc107;">Liên Hệ</h3>
                        <a href="#" style="color: white; font-size: 15px; text-align: center; "><i class="fa-brands fa-facebook-square" style="margin-right: 10px;"></i>FaceBook</a>
                        <a href="#" style="color: white; font-size: 15px; text-align: center; "><i class="fa-brands fa-instagram" style="margin-right: 10px;"></i>Instagram</a>
                        <a href="#" style="color: white; font-size: 15px; text-align: center; "><i class="fa-brands fa-youtube" style="margin-right: 10px;"></i>YouTube</a>
                        <a href="#" style="color: white; font-size: 15px; text-align: center; "><i class="fa-brands fa-twitter-square" style="margin-right: 10px;"></i>Twitter</a>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
        <!-- Core theme JS-->
        
         <script src="/js/main.js"></script>
         
       
     