{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Shop Sách</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Trang Chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Thông Tin</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-dark" onclick="chuyenTrang()">
                    <i class="bi-cart-fill me-1"></i>
                    Giỏ Hàng
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </div>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Đăng Nhập

                </button>
            </form>
        </div>
    </div>
</nav> --}}


<div class="header">
    <div class="header_inner">
        <div class="logo">
            <a href="/"><img src="/image/logoshopbook.PNG" alt=""></a>
        </div>
        <ul class="menu">
            <li class="menu_item"><input type="text" class="inputfind" placeholder="Tìm kiếm ..."><i
                    class="fa-solid fa-magnifying-glass"></i></li>
            <li class="menu_item"><a href="/" class="menu_link">Trang Chủ<i class="fa-solid fa-house"></i></a></li>
            <li class="menu_item"><a href="/giohang" class="menu_link">Giỏ Hàng<i
                        class="fa-solid fa-cart-arrow-down"></i></a>
            </li>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    HHK
                    <img src="" alt="">
        
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <script>
                let clickli = document.querySelector("#clickli")
                clickli.onclick = function (e) {
                    preventDefault()
                    var s = document.getElementById("infoUser");

                    s.innerHTML = `  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                 </div>`

                }
                var tk = "{{tai_khoan}}";
                if (tk !== "") {
                    console.log('Login thành công');
                    var s = document.getElementById("infoUser");

                    s.innerHTML = `  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                 </div>`
                }
            </script>

        </ul>
    </div>
</div>