<form method="POST">

    <p>Tài Khoản</p>
    <input type="text" name="tai_khoan"/>
    <p>Mật Khẩu</p>
    <input type="password" name="mat_khau" name="mat_khau"/>
    <p></p>
    <input type="submit" name="submit" />
    
    <p>{{this.kiemTra}}</p>
   
</form>