<!DOCTYPE html>
<html lang="vi">

{{> TrangChu/PhanHeadKH}}
<style>
    <style>table {
        counter-reset: rowNumber;
    }

    table tbody tr {
        counter-increment: rowNumber;
    }

    table tbody tr th:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>

<body>

    {{> TrangChu/PhanDau}}
    <link rel="stylesheet" type="text/css" href="/css/bat-len.css" />

    <link rel="stylesheet" type="text/css" href="/css/alert.css" />

    {{> TrangChu/MenuBar}}










    <!-- nội dung của trang  -->
    <section class="account-page my-3">
        <div class="container">
            <div class="page-content bg-white" style="border: 4px solid gainsboro">
                <div class="account-page-tab-content m-4" style="font-size:20px">

                    <!-- 2 tab: thông tin tài khoản, danh sách đơn hàng  -->
                    <H5 style="font-weight: bold; color: red;"><i class="fa-solid fa-location-dot"
                            style="color: red;margin: 5px;"></i>Địa Chỉ Nhận Hàng</H5>
                    <!-- nội dung 2 tab -->
                    <div class="tab-content">

                        <!-- nội dung tab 2: danh sách đơn hàng -->
                        <div class="tab-pane  fade show active py-3" id="nav-donhang" role="tabpanel"
                            aria-labelledby="nav-donhang-tab" >
                            <div class="donhang-table" >
                                <table class="table table-borderless " style="text-align: center;">
                                    
                                    <thead >
                                        {{#tai_khoan1}}
                                        <tr>
                                            <th scope="col" id="name3">{{this.ho_ten}}</th>
                                            <td scope="col" id="phone">{{this.sdt}}</td>
                                            <td scope="col" id="address">{{this.dia_chi}}</td>
                                            <th scope="col"><a style="color: blue;" onClick="diaChiGiaoHang()"
                                                    data-toggle="modal" data-target="#myModal">THAY ĐỔI</a></th>

                                            {{/tai_khoan1}}
                                        </tr>
                                    </thead>

                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">THÔNG TIN GIAO HÀNG</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="myLargeModalLabel">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên người nhận</label>
                                    <input type="text" class="form-control" id="name1" aria-describedby="emailHelp">
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input type="number" class="form-control" id="phone1">
                                </div>
                                <div class="form-group">
                                    <label>Địa Chỉ</label>
                                    <input type="text" class="form-control" id="add1">
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="#clickAlert">Hủy</button>
                            <button type="button" class="btn btn-primary" onclick="thayDoiDiaChiDon()"
                                data-dismiss="modal">Lưu thông tin</button>

                        </div>
                    </div>
                </div>
            </div>
            
            {{!-- THÔNG BÁO --}}
            <div class="alert hide">
                <span class="fas fa-exclamation-circle"></span>
                <span class="msg">Đặt Hàng Thành Công</span>
                <div class="close-btn">
                    <span class="fas fa-times"></span>
                </div>
            </div>
            <div class="page-content bg-white" style="border:4px solid gainsboro">
                <div class="account-page-tab-content m-4">
                    <!-- 2 tab: thông tin tài khoản, danh sách đơn hàng  -->

                    <!-- nội dung 2 tab -->
                    <div class="tab-content">

                        <!-- nội dung tab 2: danh sách đơn hàng -->
                        <div class="tab-pane  fade show active py-3" id="nav-donhang" role="tabpanel"
                            aria-labelledby="nav-donhang-tab">
                            <H5 style="font-weight: bold; color: red; margin: 15px;"> Sản Phẩm </H5>
                            <div class="donhang-table">
                                <table class="table " style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Hình Ảnh</th>
                                            <th scope="col">Tên Sản Phẩm</th>
                                            <th scope="col">Số Lượng</th>
                                            <th scope="col">Giá Tiền</th>
                                            <th scope="col">Thành Tiền</th>

                                        </tr>
                                    </thead>
                                    <tbody class="cart2">


                                    </tbody>
                                    <tbody style="  text-align: right;">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td scope="row" style=" color: black; ">Tổng tiền hàng:</td>
                                            <td><strong id="tong-thanh-toan"></strong></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td scope="row" style=" color: black; ">Phí vận chuyển:</td>
                                            <td><strong>0 VNĐ</strong></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td scope="row" style=" color: black; ">Thành Tiền:</td>
                                            <th><strong style="font-size: 20px; color: red;"
                                                    id="tong-thanh-toan-1"></strong></th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><button type="button" class="btn btn-danger" onClick="themHang()" id="clickAlert" >Đặt
                                                    Hàng </button></td>
                                        </tr>
                                    </tbody>



                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        const name3 = document.getElementById('name3');
        const address = document.getElementById('address');
        const phone = document.getElementById('phone');
        const name1 = document.getElementById('name1');
        const address1 = document.getElementById('add1');
        const phone1 = document.getElementById('phone1');



        function diaChiGiaoHang() {
            console.log(phone.innerHTML);
            name1.value = name3.innerHTML;
            address1.value = address.innerHTML;
            phone1.value = parseInt(phone.innerHTML);
        }

        function thayDoiDiaChiDon() {
            console.log('hieu')

            name3.innerHTML = name1.value;
            address.innerHTML = address1.value;
            phone.innerHTML = phone1.value;

        }
        
    </script>

    <!-- footer  -->
    {{> TrangChu/PhanCuoi}}
</body>

</html>