<!DOCTYPE html>
<html lang="vi">

{{> TrangChu/PhanHeadKH}}

<body>
   


   <style>

       <style> table {
        counter-reset: rowNumber;
    }

    table tbody tr {
        counter-increment: rowNumber;
    }

    table tbody tr th:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }</style>

   {{> TrangChu/PhanDau}}
   <link rel="stylesheet" type="text/css" href="/css/bat-len.css">
       {{> TrangChu/MenuBar}}
    <!-- nội dung của trang  -->
    <section class="account-page my-3">
        <div class="container">
            <div class="page-content bg-white">
                <div class="account-page-tab-content m-4">
                    <!-- 2 tab: thông tin tài khoản, danh sách đơn hàng  -->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link " id="nav-donhang-tab" data-toggle="tab" href="#nav-donhang" role="tab" aria-controls="nav-profile" aria-selected="false">Giỏ Hàng Của Bạn</a>
                        </div>
                    </nav>
                    
                    <!-- nội dung 2 tab -->
                    <div class="tab-content">
                        
                        <!-- nội dung tab 2: danh sách đơn hàng -->
                        <div class="tab-pane  fade show active py-3" id="nav-donhang" role="tabpanel" aria-labelledby="nav-donhang-tab">
                            <div class="donhang-table" id="hieudeptrai">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Hình Ảnh</th>
                                        <th scope="col">Tên Sản Phẩm</th>
                                        <th scope="col">Số Lượng</th>
                                        <th scope="col">Giá Tiền</th>
                                        <th scope="col">Thành Tiền</th>
                                        <th scope="col">Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody class="cart1">
                                    
                                    
                                </tbody>
                                 <tr style="border: 2px solid gray;">
                                        
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td scope="row" style="font-weight: bold; color: red; font-size: 20px;">Thành Tiền:</td>
                                        <th><strong style="font-size: 20px;" class="total"></strong></th>
                                        <td><a href="/giohang/muahang"><button type="button" class="btn btn-warning" onClick="cartLS.list().length===0"  >Mua Hàng Ngay</button></a></td>
                                 </tr>
                            </table>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer  -->
    {{> TrangChu/PhanCuoi}}
</body>
</html>