
.categoryheader:hover .categorycontent{
display: block;
}
.categorycontent{
display: none;
}

/* css cho breadcrumb  */
.breadcrumbbar{
height: 40px;
}

.breadcrumb{
height: 40px;
}

.breadcrumb-item + .breadcrumb-item::before {
content: ">";
}

.breadcrumb-item a{
font-size: 12px;
color: #666666;
text-decoration: none;
transition: 0.2s;
line-height: 40px;
}
.page-item.active .page-link{
background-color: orange;
border-color: orange;
}
.breadcrumb-item a:hover{
color:#F5A623;
}

.breadcrumb-item.active a{
color:#F5A623;
}
